<footer>
    <div class="container">
        <span class="logo-font">Aurelia + Vue</span>
        <span class="attribution">
            приложения как веб-компоненты
        </span>
    </div>
</footer>
