<nav class="navbar navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#/" data-navigo><c-notifier></c-notifier></a>
        <ul class="nav navbar-nav pull-xs-right">
            <li id="posts" class="nav-item">
                <a href="#/posts" data-navigo class="nav-link">Блог</a>
            </li>
            <li id="pages" class="nav-item">
                <a href="#/pages" data-navigo class="nav-link">Обзоры</a>
            </li>
            <li id="video" class="nav-item">
                <a href="#/media" data-navigo class="nav-link">Медиа</a>
            </li>
            <li id="about" class="nav-item">
                <a href="#/about" data-navigo class="nav-link">Сводка</a>
            </li>
        </ul>
    </div>
</nav>
