<style>
    span[data-app="webcomponent"] {
        color: #607d8b;
    }
    span[data-app="aurelia"] {
        color: #ed2b88;
    }
    span[data-app="vue"] {
        color: #4fc08d;
    }
</style>
<span title="Загруженный тип веб-компонента"></span>
