<template>
  <require from="./pages-wrapper"></require>

  <pages-wrapper if.bind="entries">
    <div class="row">
      <div repeat.for="entry of entries"
           class="article-preview col-xs-5 offset-xs-1">
        <div class="article-meta">
          <div class="info">
            <span class="date">${entry.date | localeDate}</span>
          </div>
          <div class="pull-xs-right">
            <a class="btn btn-outline-primary btn-sm"
               target="_blank"
               href.bind="entry.link"
               title="откроется в новом окне">
              <i class="ion-forward"></i>
            </a>
          </div>
        </div>
        <div class="preview-link">
          <h1 innerhtml.bind="entry.title.rendered"></h1>
          <p>${entry.excerpt.rendered | htmlToText}</p>
        </div>
      </div>
    </div>
  </pages-wrapper>
  <p if.bind="!entries" class="message">Получаем записи обзоров...</p>
</template>
