<template>
  <router-view>
    <nav class="navbar navbar-light" if.bind="router.navigation.length">
      <div>
        <ul class="nav navbar-nav">
          <li id="posts" class="nav-item" repeat.for="nav of router.navigation">
            <a href.bind="nav.href" class="nav-link ${nav.isActive ? 'active' : ''}">${nav.title}</a>
          </li>
        </ul>
      </div>
    </nav>
  </router-view>
</template>
