<template>
  <require from="./posts-wrapper"></require>
  <posts-wrapper if.bind="authors">
    <div class="article-page">
      <div class="row">
        <div class="card col-xs-11 offset-xs-1"
             repeat.for="author of authors">
          <div class="card-footer">
            <a href.bind="author.link"
               target="_blank"
               class="comment-author">
              <img src.bind="author.avatar_urls['96']" class="comment-author-img au-target">
            </a>
            &nbsp;&nbsp;
            <div class="comment-author"><a href.bind="author.link" target="_blank">${author.name}</a></div>
            <span class="date-posted pull-xs-right">${author.id}</span>
          </div>
        </div>
      </div>
    </div>
  </posts-wrapper>
  <p if.bind="!authors" class="message">Получаем список авторов...</p>
</template>
