<template>
  <require from="./posts-wrapper"></require>

  <posts-wrapper if.bind="entries">
    <div class="row" hide.bind="currentEntry">
      <div repeat.for="entry of entries"
           class="article-preview col-xs-11 offset-xs-1">
        <div class="article-meta">
          <div class="info">
            <span class="date">${entry.date | localeDate}</span>
          </div>
          <div class="pull-xs-right">
            <a class="btn btn-outline-primary btn-sm"
               target="_blank"
               href.bind="entry.link"
               title="откроется в новом окне">
              <i class="ion-forward"></i>
            </a>
          </div>
        </div>
        <div class="preview-link">
          <h1 innerhtml.bind="entry.title.rendered"></h1>
          <p>${entry.excerpt.rendered | htmlToText}</p>
          <span><a href="#" click.delegate="entryDetails($event, entry)">подробнее...</a></span>
        </div>
      </div>
    </div>

    <div if.bind="currentEntry" class="row">
      <div class="col-xs-11 offset-xs-1">
        <p><a href="#" click.trigger="currentEntry = null">к списку</a></p>
        <h2 innerhtml.bind="currentEntry.title.rendered"></h2>
        <div>${currentEntry.content.rendered | htmlToText}</div>
      </div>
    </div>
  </posts-wrapper>

  <p if.bind="!entries" class="message">Получаем записи блога...</p>
</template>
