h1 {
  color: #757575;
}

.info .date {
  color: #607d8b;
}

.card .card-footer {
  border-top: none !important;
  background-color: transparent;
  font-size: 1rem;
}

nav.navbar {
  padding-left: 0 !important;
}

.has-offset {
  margin-top: 3.4rem;
}
