<!--suppress JSUnresolvedFunction -->
<template>
    <div id="vue-media-app" class="container page">
        <nav class="navbar navbar-light">
            <div>
                <ul class="nav navbar-nav" v-if="routerInitialized">
                    <li class="nav-item">
                        <router-link :to="{name: 'grid'}" class="nav-link">Плитка</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{name: 'list'}" class="nav-link">Список</router-link>
                    </li>
                </ul>
            </div>
        </nav>
        <router-view></router-view>
    </div>
</template>

<script>
    import Media from './components/Media.vue'
    import Meta  from './components/Meta.vue'

    export default {
        name   : 'app',
        data() {
            return {
                outerEventService: null,
                initialized      : false,
                routerInitialized: false
            }
        },
        watch  : {
            outerEventService: function (newVal, oldVal) {
                console.log(`Vue App outerEventService ${newVal ? 'attached' : 'detached'}`);
                if (oldVal == null && !this.initialized) {
                    this.initialized = true;
                    this.outerEventService.emit('notification:outer:event');
                }
            }
        },
        methods: {
            initBaseUrl: function () {
                let prefix = '';

                if (this.$parent.$data['isWebComponent'] && this.$el.parentNode) {
                    this.$el.parentNode.setAttribute('initialized', 'true');
                    prefix = this.$el.parentNode.getAttribute('base-url');

                    if (prefix.indexOf('/') !== 0) {
                        prefix = `/${prefix}`;
                    }
                }

                return prefix;
            }
        },
        mounted() {
            console.log('Vue App: mounted');

            let prefix = this.initBaseUrl();
            this.$router.addRoutes(
                [
                    {
                        path     : `${prefix}/`,
                        name     : 'grid',
                        component: Media
                    },
                    {
                        path     : `${prefix}/list`,
                        name     : 'list',
                        component: Meta
                    }
                ]
            );
            this.routerInitialized = true;
        }
    }
</script>
<style>
    .card-footer {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .card .card-footer {
        font-size: 1rem;
    }

    .info .date {
        color: #607d8b;
    }

    .card .card-footer {
        border-top: none !important;
    }

    nav.navbar {
        padding-left: 0 !important;
    }

    .has-offset {
        margin-top: 3.4rem;
    }
</style>
