<div class="container page">
    <style>
        [data-package="false"] {
            display: none;
        }
    </style>
    <h2>Сводка</h2>
    <hr>
    <h3>Хост-приложение</h3>
    <ul>
        <li>веб-компоненты <code>webcomponentsjs</code></li>
        <li>роутер <code>navigo</code></li>
        <li>шина событий <code>eev</code></li>
        <li>загрузка/сборка <code>webpack</code></li>
        <li>шаблонизатор
            <ul>
                <li>загрузка <code>raw-loader</code></li>
                <li>привязка данных&nbsp;&mdash; через атрибуты</li>
            </ul>
        </li>
    </ul>
    <hr>
    <h3>Приложения-компоненты</h3>
    <ul>
        <li><a href="#/posts" data-navigo>блог</a> и <a href="#/pages" data-navigo>обзоры</a> <code>Aurelia</code>
            <ul>
                <li>сборка <code>Aurelia CLI</code></li>
                <li>загрузка <code>SystemJS</code></li>
                <li>синтаксис <code>ESNext</code></li>
                <li>роутер <code>Aurelia router</code></li>
                <li>шина событий <code>eev</code></li>
            </ul>
        </li>
        <li><a href="#/media" data-navigo>медиа</a> <code>Vue</code>
            <ul>
                <li>сборка/загрузка <code>Vue CLI</code> (версия 2.9.6, <code>browserify</code>)</li>
                <li>синтаксис <code>ESNext</code></li>
                <li>роутер <code>Vue router</code></li>
                <li><em>шина событий <code>eev</code></em></li>
                <li>однофайловые компоненты</li>
            </ul>
        </li>
    </ul>

    <div data-package="false">
        <hr>
        <h3>package.json</h3>
        <p>
            <pre></pre>
        </p>
    </div>
</div>

