<div>
    <style>
        .container.page {
            margin-top: 30vh;
        }
    </style>
    <div class="container page">
        <div class="row">
            <div class="col-xs-6 banner" data-app="aurelia">
                <h1>Aurelia</h1>
                <p>
                    <a href="#/posts">блог</a> и
                    <a href="#/pages">обзоры</a>
                </p>
            </div>
            <div class="col-xs-6 banner" data-app="vue">
                <h1>Vue</h1>
                <p><a href="#/media">медиа</a></p>
            </div>
        </div>
    </div>
</div>
