<style>
    nav.navbar {
        padding-left: 0 !important;
    }
    .article-page .card .card-footer {
        border-top: none !important;
    }
</style>
<div class="container page" aurelia-app="apps/posts/main" data-web-component>
    Загрузка <em>Aurelia posts app</em>...
</div>
