<template>
    <div>
        <h2>{{title}}</h2>
        <hr>
        <div class="row col-xs-11 offset-xs-1" v-if="media.length">
            <div class="row">
                <figure class="figure col-xs-4"
                        v-for="img in media">
                    <img :src="img.media_details.sizes.medium_large.source_url" class="figure-img img-fluid rounded">
                </figure>
            </div>
        </div>
        <p v-if="!media.length">Загрузка сетки...</p>
    </div>
</template>

<script>
    import DataLoader from '../data-loader';

    export default {
        data() {
            return {
                title: 'Плитка',
                media: []
            }
        },
        created: function () {
            DataLoader.init()
                .then(
                    data => this.media = data,
                    () => {}
                );
        }
    }
</script>
<style>

</style>
