<template>
    <div>
        <h2>{{title}}</h2>
        <hr>
        <div v-if="media.length">
            <div class="row">
                <div class="card col-xs-11 offset-xs-1"
                     v-for="img in media">
                    <div class="card-footer">
                        <a :href="img.source_url"
                           target="_blank">{{img.title.rendered}}
                        </a>
                        &nbsp;
                        <span class="pull-xs-right">{{img.media_details.width}}x{{img.media_details.height}}</span>
                    </div>
                </div>
            </div>
        </div>
        <p v-if="!media.length">Загрузка списка...</p>
    </div>
</template>

<script>
    import DataLoader from '../data-loader';

    export default {
        data() {
            return {
                title: 'Список',
                media: []
            }
        },
        created: function () {
            DataLoader.init()
                .then(
                    data => this.media = data,
                    () => {}
                );
        }
    }
</script>
